
.container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card{
    position: relative;
    width: 250px;
    height: 300px;
    margin: 30px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}

.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    line-height: 3px;
    color: white;
    background: rgba(0, 0, 0, .4);
    text-align: center;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    background: rgba(3, 35,54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    box-shadow:0 5px 10px black;
}

.card .back .link{
    border-top: solid 1px white;
    height: 300px;
    line-height: 50px;
}

.card .back .link a{
    display: inline-block;
    background-color:rgb(7, 138, 7);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: 1px solid transparent;
    font-weight: bold;
    padding: 5px 15px;
    margin-top: auto;
    border-radius: 20px;
    transition: .4s; 

}

.card .back .link a:hover{
    background-color: transparent;
	border: 2px solid rgb(7, 138, 7);
	cursor: pointer;
}

.card .back h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}

.card .back p{
    letter-spacing: 1px;
    font-family: "Poppins",sans-serif;
}
.btn_prix{
    border: 1px solid grey;
    color:black;
    background: linear-gradient(90deg, rgb(108, 255, 108), rgb(160, 160, 255));
    margin-left: auto;
    margin-right: auto;
    padding:5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
}
.btn_prix:hover{
    color:white;
    background: transparent;
    font-size: 22px;
    border:2px solid white;
}
.btn_prix sup{
    font-size: 12px;
}

.card:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px) rotateY(360deg);
}